In [1]:
import numpy as np
import pandas as pd

In [9]:
stdData = {
    'math': [23,45,67,89,56],
    'physics':[13,88,95,34,77],
    'chemistry': [45,34,55,78,67]
}

std = ['nasir', 'mansoor','kashan','imad','shifa']
stdFrame = pd.DataFrame(stdData, index=std)
stdFrame

         math  physics  chemistry
nasir      23       13         45
mansoor    45       88         34
kashan     67       95         55
imad       89       34         78
shifa      56       77         67

In [10]:
stdFrame['total'] = stdFrame ['math'] + stdFrame['physics'] + stdFrame['chemistry']

In [11]:
stdFrame['per'] = stdFrame['total']/300*100
stdFrame['per'] = [str(i)+'%' for i in stdFrame['per']]
stdFrame

         math  physics  chemistry  total                  per
nasir      23       13         45     81                27.0%
mansoor    45       88         34    167  55.666666666666664%
kashan     67       95         55    217   72.33333333333334%
imad       89       34         78    201                67.0%
shifa      56       77         67    200   66.66666666666666%

In [12]:
stdFrame['Remarks'] = ["Pass" if m >= 33 and p >= 33 and c >= 33 else "Fail" for m,p,c, in zip(stdFrame ['math'], stdFrame['physics'], stdFrame['chemistry']) in zip

stdFrame

SyntaxError: invalid syntax (<ipython-input-12-92f25f7a7d8e>, line 3)

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                      columns=['ohaio', "Texas","California"])
frame

In [ ]:
stdFrame

In [ ]:
new_obj = stdFrame.drop('shifa')

In [ ]:
new_obj

In [13]:
stdFrame

         math  physics  chemistry  total                  per
nasir      23       13         45     81                27.0%
mansoor    45       88         34    167  55.666666666666664%
kashan     67       95         55    217   72.33333333333334%
imad       89       34         78    201                67.0%
shifa      56       77         67    200   66.66666666666666%

In [14]:
stdFrame.loc['nasir']['math'] # it is doing index

23

In [15]:
stdFrame.loc['nasir',['math']] # it is doing Sliceing

math    23
Name: nasir, dtype: object

In [16]:
f1 = lambda x,y: x+y
f1(2,4)

6

In [17]:
f2 = lambda x: np.square(x)
stdFrame['math'].map(f2)

nasir       529
mansoor    2025
kashan     4489
imad       7921
shifa      3136
Name: math, dtype: int64